@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}


.main{
    display: flex;
    padding-left: 3em;
    padding-right: 3em;
}
.sidebar{
    width: 30%;
    /* padding-left: 3em; */
    padding-top: 2em;
    padding-right: 1em;
}
#translationList {
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    list-style: none;
}

#translationList > li {
    background-color: #f5f5f5; /* Light gray background color */
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 5px; /* Spacing between list items */
    padding: 10px; /* Padding inside list items */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Display ellipsis for overflowed text */
}

#translationList > li:hover {
    background-color: #e0e0e0; /* Light gray background color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}

#translationList > li:last-child {
    margin-bottom: 0; /* Remove margin bottom for the last list item */
}

.master{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-items: center;
    align-content: center;
    padding: 10vh ;
    gap:15vh ;
    background-image: url('');
}

.welcomeMsg{
    width: 40%;
}
.inputDets{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    /* width: 50%; */
}
input{
    padding: 2vh;
    border-radius: 1vh;
    border: 1px solid green;
}
.regPar{
    display: flex;
   justify-content: center ;
   padding-top: 5vh;
   padding-bottom: 2vh;
   flex-direction: row;
}
.regPar hr {
    flex: 1; 
    margin: 0 3vh;
    height: 0rem;
}
button{
    padding: 2vh;
    border-radius: 1vh;
    background-color: green;
    cursor: pointer;
    color: whitesmoke;
    border: 1px solid green;
}
button:hover{
    background-color: rgb(185, 235, 185);
    color: black;
}
.otherLogins{
    display: flex;
    align-items: center ;
    justify-content: center;
    align-content: center;
}
.google{
    background-color: white; 
    color: black; 
    outline: 1px solid green;
    border-radius: 4vh; 
    display: flex; 
    width: 20vw; 
    height: 8vh; 
    gap: 5vh ;
    align-items: center ;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}
.google:hover{
    background-color: rgb(185, 235, 185);
    color: black;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

header>img{
    height: 15vh;
}
a{
    text-decoration: none;
    color: green;
}
.regBtn{
display: flex;
align-items: center;
gap: 8vh;
}

.topbody{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-top: 5vh */
    /* justify-content: center; */
}
.container {
    margin-right: 2em ;
    padding: 20px;
    }
    
    h1 {
    font-size: 2em;
    margin-bottom: 20px;
    }
    
    .chatDetail {
    margin-bottom: 30px;
    }
    
    .chatDetail strong {
    font-weight: bold;
    color: #333; /* Dark gray color */
    margin-right: 10px;
    margin-top: 2em;
    }
    
    .chatDetail p {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    }

    #targetLanguage {
    color: green;
    font-style: italic;
    }
    
